@font-face {
	font-family: 'roboto-medium';
    src: url('/result/fonts/roboto-medium-webfont.woff') format('woff'),
	url('/result/fonts/roboto-medium-webfont.woff2') format('woff2');
}

@font-face {
	font-family: 'roboto-light';
    src: url('/result/fonts/roboto-light-webfont.woff') format('woff'),
         url('/result/fonts/roboto-light-webfont.woff2') format('woff2');
}

@font-face {
	font-family: 'roboto-bold';
    src: url('/result/fonts/roboto-bold-webfont.woff') format('woff'),
         url('/result/fonts/roboto-bold-webfont.woff2') format('woff2');
}

@font-face {
	font-family: 'sourcesanspro-bold';
    src: url('/result/fonts/sourcesanspro-bold-webfont.woff') format('woff'),
	url('/result/fonts/sourcesanspro-bold-webfont.woff2') format('woff2');
}

body * {
	font-family: 'roboto-light';
	margin: 0px;
}

.detaildiv {
	overflow: auto;
	position: absolute;
    font-family: monospace;
}

.detaildiv.resultviewer {
	width: calc(100% - 8px);
	bottom: 10px;
	height: 350px;
}

.detailcontainerdiv {
    /*padding-top: 8px;*/
}

.detailcontainerwrapdiv {
	width: 100%;
	height: 100%;
	overflow: auto;
	position: relative;
}

.detailcontentdiv {
	overflow: auto;
	height: calc(100% - 32px);
	padding: 0px;
    padding-left: 7px;
    padding-right: 7px;
}

.detailcontentdiv * {
    font-size: 11px;
}

.detailwidget {
	font-size: 12px;
	border: 1px solid #d0d0d0;
    padding: 0px;
}

.detailwidgetheader {
	font-size: 14px;
	font-weight: bold;
	display: inline-block;
	width: 100%;
	position: relative;
	top: 0px;
	left: 0px;
}

.detailwidgettitle {
	display: inline-block;
	width: calc(100% - 4px);
	background: #4a87bd;
    font-family: sourcesanspro-bold;
	font-size: 13px;
    height: 18px;
    margin-bottom: 6px;
}

.detailwidget-hr {
    margin-top: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.detailwidgeticondiv {
	display: inline-block;
	width: 70px;
	position: absolute;
	right: 0px;
	top: 0px;
    text-align: right;
}

.detailwidget-closebutton {
	width: 16px;
	height: 16px;
}

.detailwidgetpinbutton {
	cursor: default;
	font-size: 12px;
	text-align: center;
	border: 1px solid gray;
	width: 14px;
	border-radius: 4px;
	cursor: pointer;
}

.detailwidgetpinbutton.unpinned {
	color: black;
	background-color: white;
}

.detailwidgetpinbutton.pinned {
	color: white;
	background-color: #848484;
}

.detailwidget-camerabutton {
    height: 16px;
}

.detailwidgetselect {
	font-family: roboto-light;
	font-size: 11px;
}

.detail-info-line-header {
    vertical-align: top;
    min-width: 60px;
    font-weight: bold;
}

.detail-info-line-content {
    vertical-align: top;
    min-width: 60px;
}

.nodata {
    color: #cccccc;
}

