html,body,address,blockquote,div,
form,fieldset,caption,
h1,h2,h3,h4,h5,h6,
hr,ul,li,ol,ul,
table,tr,td,th,p,img {
        margin:0;
            padding:0;
}

table {
	border: 1px solid black;
	border-collapse: collapse;
	width: 100%;
}

tr {
	border: 1px solid black;
}

tr.main_table_row:hover {
	background-color: #c0c0c0;
}

td, th {
	border: 1px solid black;
	padding: 10px;
}

#header {
	text-align: center;
}

#status_table_div {
	float: left;
	text-align: center;
	padding: 10px;
	border: 1px solid black;
	width: 60%;
	height: 100%;
	overflow: auto;
	box-sizing: border-box;
}

#selected_module_div {
	float: right;
	padding: 10px;
	border: 1px solid black;
	width: 40%;
	height: 100%;
	overflow: auto;
	box-sizing: border-box;
}

#selected_module_header {
	text-align: center;
}

#module_info_div {
	position: absolute;
	top: 50%;
	left: 50%;
	--w: 900px;
	--h: 700px;
	width: var(--w);
	height: var(--h);
	margin: calc(var(--h)/-2) 0 0 calc(var(--w)/-2);
	border: 3px solid black;
	background-color: white;
	z-index: 1;
	display: none;
}

#module_info_closer {
	position: absolute;
	top: 0px;
	right: 0px;
}

#module_info_title {
	position: relative;
	width: 90%;
	left: 5%;
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	text-decoration: underline;
	
}
