.donemark {
    width: 20px;
    position: absolute;
    bottom: 1px;
    right: 0px;
}

#remotemodulepanels {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    position: relative; 
    top: 88px; 
    background-color: white;
}

.module-size-span {
    position: absolute;
    right: 22px;
    bottom: 0px;
    font-size: 13px;
}

#messagediv {
    position: absolute; 
    width: 100%; 
    text-align: center; 
    font-size: 14px; 
    height: 20px; 
    z-index: 1; 
    display: none;
    top: 104px;
}

.newmoduleicon {
    width: 25px;
    position: absolute;
    top: 3px;
    right: 0px;
}

.modulepanel-type-span {
    font-size: 14px;
    color: lightcoral;
    bottom: 2px;
    left: 9px;
    position: absolute;
}

.moduletile {
    display: inline-block;
    width: 250px;
    height: 250px;
    border-width: 2px;
    border-color: #dddddd;
    border-style: ridge;
    vertical-align: top;
    margin: 10px;
    padding: 10px;
    position: relative;
}

.moduletile-title {
    position: absolute;
    font-weight: bold;
    width: calc(100% - 25px);
    weight: auto;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    font-size: 42px;
}

.panelinstallstatusspan {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: white;
}

