.donemark {
    width: 20px;
    position: absolute;
    top: 1px;
    right: 0px;
}

#messagediv {
    position: absolute; 
    width: 100%; 
    text-align: center; 
    font-size: 14px; 
    height: 20px; 
    z-index: 1; 
    display: none;
    top: 104px;
}

.newmoduleicon {
    width: 25px;
    position: absolute;
    top: 3px;
    right: 0px;
}

.modulepanel-typesizedate-div {
    font-size: 14px;
    bottom: 2px;
    left: 9px;
    position: absolute;
}

.modulepanel-title-span {
    font-weight: bold;
    width: 195px;
    word-break: break-word;
}

.modulepanel-org-span {
    color: green;
    font-size: 12px;
    width: 183px;
    word-break: break-word;
    display: block;
    height: 37px;
    overflow: auto;
}

.modulepanel-type-span {
    color: lightcoral;
}

.modulepanel-size-span {
    color: black;
}

.modulepanel-date-span {
    color: #467444;
    position: absolute;
    right: 10px;
    top: 200px;
    font-size: 11px;
}

.modulepanel-divider-span {
    color: #d4d4d4;
}

.modulepanel-update-button {
    position: absolute;
    bottom: 24px;
    right: 9px;
}

.modulepanel-uninstall-button {
    position: absolute;
    bottom: 3px;
    right: 9px;
    font-size: 13px;
    background-color: #b3c9dc;
}

.modulepanel-install-button {
    position: absolute;
    bottom: 3px;
    right: 9px;
    font-size: 13px;
    background-color: #ffffff;
}

.moduletile {
    display: inline-block;
    width: 250px;
    height: 250px;
    border-width: 2px;
    border-color: #dddddd;
    border-style: ridge;
    vertical-align: top;
    margin: 10px;
    padding: 10px;
    position: relative;
}

.moduletile-title {
    position: absolute;
    font-weight: bold;
    width: calc(100% - 25px);
    weight: auto;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    font-size: 42px;
}

.panelinstallstatusspan {
    background-color: white;
    font-size: 12px;
}

.panelinstallprogressspan {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 12px;
}

#storebodydiv {
    position: absolute;
    top: 92px;
    width: 100%;
}

#storemenudiv {
    position: fixed;
    top: 108px;
    width: 200px;
}

.store-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 23px;
}

.store-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.store-switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #a1a1a1;
    transition: .1s;
    border-radius: 14px;
}

.store-switch-slider:before {
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .1s;
    border-radius: 9px;
}

input:checked + .store-switch-slider {
    background-color: #a1a1a1;
}

input:focus + .store-switch-slider {
    box-shadow: 0 0 1px #a1a1a1;
}

input:checked + .store-switch-slider:before {
    transform: translateX(15px);
}

.store-switch-text {
    font-size: 13px;
}

#store-sort-div {
    position: absolute;
    top: 17px;
    right: 17px;
}

#remotemodulepanels {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    position: absolute; 
    top: 36px; 
    background-color: white;
    left: 0px;
    width: 100%;
}

#store-allmodule-div {
    position: absolute;
    top: 0px;
    left: 200px;
    width: calc(100% - 210px);
}

#store-home-div {
    position: absolute;
    top: 17px;
    left: 240px;
    width: calc(100% - 240px);
}

.store-home-sectiontitle {
    font-size: 20px;
    font-weight: bold;
}

.store-home-carouseldiv {
    height: 319px;
    width: calc(100% - 66px);
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}

.store-carousel-arrow {
    height: 39px;
    cursor: pointer;
}

