@CHARSET "ISO-8859-1";

a {
	text-decoration:none;
	color:#0055aa;
}

a:hover {
	text-decoration: underline;
}

div#help-title{
	position:fixed; 
	top:0;
	text-align: center;
	font-weight: bold;
	font-size: 2.3em;
	font-family:Trebuchet MS;
	color: #0055aa;
	padding-top:10px; 
	padding-bottom:10px;
	background: white;
	border-bottom: 1px solid black;
	/* The below makes it center like margin:auto; */
	left: 0;
	right: 0;
}

div#search {
	clear: both;
	font-size: 12px;
	font-family: Trebuchet MS;
}

div#footer {
	text-align: center;
	height:20px;
	background-image:url('../images/Header_RL_Sliver_short.jpg');
	font-size: 11px;
	font-family: Trebuchet MS;
	width:100%;
}

.searchClass {
	font-size: 12px;
	font-family: Trebuchet MS;
	font-weight: bold;
}

.searchClassWhite {
	font-size: 12px;
	font-family: Trebuchet MS;
	font-weight: bold;
	color: white;
}

h1.manual {
	font-family: Roboto;
	font-size: 24px;
	color: #4e4b49;
}

.manual {
	font-family: Roboto;
	font-size: 14px;
	color: #4e4b49;
}

.tooltip {
	display:none;
	background-color: #ddeecc;
	padding:2px 2px 2px 2px;
	font-size:11px;
	color:#000000;
}

div.tooltip table {
	border:2px solid;
	font-size: 12px;
	font-family: Roboto;
	font-weight: bold;
}

html#help,body#help{
	margin:0;
	padding:0;
	height:100%;
}

#help-header{
	position:fixed;/* for good browsers*/
	top:0;
	left:0;
	width:100%;
	height:150px;/* the height you want the header to be*/
	z-index:2;
	clear:both;
}

#help-headerinner{/* header content goes inside here*/
	/*background-image:url('../images/CravatHeader.jpg');*/
	background-repeat:no-repeat;
	background-position:center;
	height:50px;
	text-align:center;
	position:relative;
	z-index:2;
}

#help_sidemenu ul {
	padding: 0px 0px 0px 20px;
	margin: 0px 10px 0px 0px;
	list-style-type: square;
}

#help_sidemenu ul li {
	padding: 0px;
	margin: 0px;
}

#help-left{/* Bear in mind that as there is no height then scrollbars won't appear in IE and very small screens will be unable to reach the content of his fixed side - so keep content to a minimum */
	font-family: Roboto;
	font-size: 14px;
	color: #4e4b49;
}

#help-right{
	bottom:50px;
}

.overlay {
        display: none;
        z-index: 10000;
        background-color: #ffffff;
        width: 800px;
        min-height: 300px;
        border: 1px solid #cceeee;
        background-image: url('../images/white.png');
}

.close {
        background-image: url(../images/close.png);
        position: absolute;
        right: -12px;
        top: -12px;
        cursor: pointer;
        height: 24px;
        width: 24px;
}

.overlay_details {
        font-family: Trebuchet MS;
        font-size: 13px;
        color: #111111;
        margin: 15px 15px 15px 15px;
        height: 300px;
}

.menu_link {
	float:left;
	color: #0055aa;
	cursor: pointer;
	list-style: none;
}

.menu_link:hover {
	text-decoration: underline;
}

.menu_divider {
	display:none;
	float:left;
}

.menu_div {
	position: absolute;
	float: left; 
	z-index: 5; 
	background-color: 
	rgb(200,227,238); 
	opacity: 0.96;
	font-family: Trebuchet MS;
	font-size: 12px;
	box-shadow: 5px 5px 5px 0px #718c94;
	cursor: default;
}

.triangle {
	position: relative;
	top: 2px;
	width: 13px;
	height: 13px;
}

.longtable tr:nth-child(5n) td {
	border-bottom: 1px dotted;
}

.longtable tr:last-child td {
	border-bottom: 1px solid;
}

.h1_at_beginning_of_section{
	margin-bottom: 5px;
}
.h3_in_user_account{
	margin-bottom: 3px;
}
.h2_inner_tab_titles{
	margin-bottom: 3px;
}

.firstLevelIndentation{
	margin-left: 10px;
}

.thirdLevelIndentation{
	margin-left: 20px;
}

.fourthLevelIndentation{
	margin-left: 25px;
}

.fifthLevelIndentation{
	margin-left: 30px;
}

.sixthLevelIndentation{
	margin-left: 35px;
}

.eighthLevelIndentation{
	margin-left: 45px;
}

.tr_header_in_howToUse_analysis{
	text-align: left;
}

.a_for_local:hover{
	text-decoration: none;
}
.a_for_local:active{
	text-decoration: none;
}

/*li {
	margin: 1em 1em 1em 1.5em;
}*/

/*li {
        margin-top: 0.1em;
}*/
