body {
	font-family: Roboto;
}

table.joblisttable, table.joblisttable th, table.joblisttable td {
	border: 1px solid gray;
	border-collapse: collapse;
	text-align: center;
}

table.joblisttable tr:nth-child(odd) {
	background-color: #eeeeee;
}