.queue_stat_small_text {
	font-size: 14px;
}

.queue_stat_summary_table {
	border-width: 4px;
	border-collapse: collapse;
	border-style: ridge;
}

.queue_stat_summary_table td {
	border-width: 1px;
	border-style: solid;
}