.widgetErrTitle{
	color: red;
	font-weight: bold;
	font-size: 2.0em;
}

.widgetErrContent{
	margin-left: 10px;
	color: red;
	font-weight: bold;
	font-size: 1.5em;
}


.circosLegendPiece{
	padding: 3px;
}

.topGenesTable{
	width: 100%;
	border-collapse: collapse;
}
.topGenesTable thead{
	background-color: rgb(49, 249, 251);
}
.topGenesTable th{
	border: 1px solid black;
}
.topGenesTable td{
	border: 1px solid black;
}
.topGenesTableEvenRow{
	background-color : rgb(249, 249, 249);
}
.topGenesTableOddRow{
	background-color : rgb(166, 247, 255);
}


.ndexArea{
	z-index: 99;
}

.ndex_summary{
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}

.ndex_detail{
	position: fixed;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	z-index : 1000;
	box-shadow: rgb(136, 136, 136) 0px 0px 8px 8px;
}

#ndexResponse{
	border: 1px solid black;
	overflow-y: auto;
}

.ndexTable{
	border : 1px solid black;
	border-collapse: collapse;
	font-size: 14px;
}
.ndexTable tr{
	border : 1px solid black;
}
.ndexTable tbody tr{
	cursor : pointer;
}
.ndexTable th{
	border : 1px solid black;
}
.ndexTable td{
	border : 1px solid black;
}


.ndexEnrichment{
	float: left;
}

.ndexNetwork{
	
}

.ndexSplashScreen{
	position : fixed;
	top : 0px;
	left : 0px;
	background : rgba(150,150,150,0.3);
	width : 100%;
	height : 100%;
	z-index : 999;
}

.loadingspan{
	font-weight: bold;
	font-size: 3.0em;
	color: white;
	position: absolute;
	top: 30px;
	left: 0px;
}


.widget_div {
	margin: 20px;
	padding: 20px;
	border: 1px solid gray;
	border-radius: 20px;
	display: inline-block;
	vertical-align: top;
	font-family: Roboto;
}
