body * {
    font-family: 'Gothic A1';
}

#pageselect {
    position: fixed; 
    top: 62px; 
    left: 0px; 
    font-size: 15px; 
    color: #000000;
    z-index: 201;
    outline: none;
}

#pageselect div {
    display: inline-block;
    text-align: center;
    padding: 6px;
    height: 24px;
    width: 80px;
    transition: all 0.3s ease;
    vertical-align: bottom;
    cursor: pointer;
    background-color: #f0f0f0;
    color: #000000;
    height: 20px;
    border-radius: 8px 8px 0px 0px;
    border: 1px solid #939393
}

#pageselect div:hover {
    background-color: #dddddd;
    color: #000000;
}

#pageselect div[selval="t"] {
    background-color: #bbbbbb;
    color: #000000;
}

#pageselect div[disabled='t'] {
    pointer-events: none;
    color: white;
}

#tabselectdiv {
    position: absolute; 
    top: 74px; 
    left: 0px;
}

#tabselect {
    height: 46px;
    overflow: auto;
    outline: none;
    border-radius: 24px;
}

#tabselect option {
    display: inline-block;
    font-size: 20px;
    width: 90px;
    text-align: center;
    padding: 10px;
}

.container {
    position: relative;
    border: 0.5px solid #939393; 
    border-radius: 8px 8px 0px 0px; 
    padding-left: 30px; 
    padding-right: 30px; 
    padding-top: 18px; 
    padding-bottom: 14px; 
    margin-right: 10px;
    margin-bottom: 20px;
}

.container * {
    font-size: 13px;
}

.divtitle {
    font-weight: bold;
    font-size: 22px;
    color: #000000;
    top: -9px;
    position: relative;
}

.input-example-button {
    width: 35px;
    background-color: #e7e7e7;
    font-size: 11px;
}

.or {
    position: absolute;
    top: -17px;
    left: 30px;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 26px;
    color: #4b4b4b;
}

.divbanner {
    position: absolute;
    background-color: #c0c0c0;
    width: 100%;
    height: 45px;
    top: 0px;
    left: 0px;
    z-index: -1;
    border-radius: 8px 8px 0px 0px;
}

button {
    background-color: #fbfbfb;
    font-size: 12px;
}

#jobs-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 10px;
}

/*
#jobs-table tbody tr:nth-child(even) .job-detail-td {
    background-color: #eeeeaa;
}

#jobs-table tbody tr:nth-child(odd) .job-detail-td {
    background-color: #eeeeaa;
}
*/

#jobs-table tr.job-table-tr:hover {
    background-color: #777777;
}

.job-table-tr {
    border-bottom: 1px dotted #aaaaaa;
}

.job-detail-tr {
    background-color: #f2f2f2;
}

.job-detail-tr td table tr td:first-of-type {
    text-align: right;
    text-decoration: underline;
}

.highlighted-tr {
    background-color: #949494;
    color: black;
}

.hidden-tr {
    display: none;
}

#jobs-table tbody td {
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: default;
    font-size: 15px;
}

#jobs-table tbody tr.job-table-main-tr td {
    cursor: pointer;
}

#jobs-table thead th {
    font-size: 13px;
    font-weight: bold;
    border-bottom: 1px solid black;
    box-shadow: 0px 0px 10px 0px #c7c7c7;
}

#annotator-select-div span {
}

#assembly-select-div {
    position: absolute;
    top: 12px;
    right: 7px;
    height: 21px;
}

#assembly-select {
}

.logo {
    width: 260px;
    position: relative;
    top: 39px;
}

.headerdiv {
    position: fixed; 
    top: 0px; 
    width: 100%; 
    z-index: 200; 
    padding-bottom: 20px; 
    height: 74px; 
    background-color: white; 
    box-shadow: 0px 0px 20px gray; 
    left: 0px; 
    right: 0px;
}

#verdiv {
    position: absolute; 
    right: 25px; 
    vertical-align: bottom; 
    bottom: 2px; 
    right: 10px;
    font-size: 13px;
}

#settingsdiv {
    display: none;
    position: fixed;
    top: 27px;
    right: 6px;
    background-color: white;
    z-index: 202;
    box-shadow: 2px 2px 2px gray;
    border: 1px solid #a2a2a2;
    padding: 14px;
    font-size: 13px;
}

.variant-input-border-bottom {
    position: relative;
    border-bottom: 1px dotted #cbcbcb;
    padding-bottom: 20px;
}

#submitcontentdiv {
    position: relative;
    top: 75px;
    display: block;
    width: 400px;
}

#jobnoteinput {
    width: calc(100% - 44px);
}

#input-text {
    width: calc(100% - 43px);
}

#refresh-jobs-table-btn {
    width: 14px; 
    height: 14px;
    position: absolute; 
    top: 22px; 
    left: 3px;
}

.threedots {
    height: 20px;
    top: 6px;
    position: absolute;
    right: 10px;
}

.email-icon {
    height: 20px;
    top: 6px;
    position: absolute;
    right: 30px;
}

.question-icon {
    height: 20px;
    top: 6px;
    position: absolute;
    right: 70px;
}

