#pageselect {
    position: absolute; 
    top: 0px; 
    right: 0px; 
    font-size: 20px; 
    color: #000000;
    z-index: 2;
    outline: none;
}

#pageselect div {
    display: inline-block;
    text-align: center;
    padding: 6px;
    height: 24px;
    width: 80px;
    border: 1px solid #5b8588;
    transition: all 0.3s ease;
}

#pageselect div:hover {
    height: 40px;
    background-color: #c4e1ff;
}

#pageselect div[selval="t"] {
    height: 40px;
    background-color: #a6dde0;
}

#tabselectdiv {
    position: absolute; 
    top: 74px; 
    left: 0px;
}

#tabselect {
    height: 46px;
    overflow: auto;
    outline: none;
    border-radius: 24px;
}

#tabselect option {
    display: inline-block;
    font-size: 20px;
    width: 90px;
    text-align: center;
    padding: 10px;
}

.container {
    position: relative;
    border: 1px solid black; 
    border-radius: 30px; 
    padding-left: 30px; 
    padding-right: 30px; 
    padding-top: 20px; 
    padding-bottom: 34px; 
    margin-right: 10px;
}

#assembly-select {
    overflow: auto;
    height: 42px;
    border: 1px solid black;
}

#assembly-select option {
    display: inline-block;
    height: 20px;
    padding: 10px;
    border: 0px;
}

#assembly-select option:hover {
    background-color: #c4e1ff;
}

.divtitle {
    font-weight: bold;
    font-size: 20px;
    color: #000000;
}

.input-example-button {
    width: 120px;
    background-color: #faebd7;
}

.or {
    position: absolute;
    top: -17px;
    left: 30px;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 26px;
}

.divbanner {
    position: absolute;
    background-color: #c5dbdb;
    width: 100%;
    height: 60px;
    top: 0px;
    left: 0px;
    z-index: -1;
    border-radius: 30px 30px 0px 0px;
}

button {
    background-color: #fbfbfb;
}

.moduledetailbutton {
    border-radius: 10px;
    border: 0px;
    outline: none;
}

.tableheadercell {
    border-bottom: 1px solid black;
    box-shadow: 0px 0px 10px 0px #c7c7c7;
    font-weight: normal;
}

#jobs-table {
    border-collapse: collapse;
    font-size: 15px;
}

#jobs-table tbody tr:nth-child(even) {
    background-color: #e0e0e0;
}

#jobs-table tbody tr:hover {
    background-color: #444444;
    color: white;
}

#jobs-table tbody td {
    padding: 0px;
    cursor: pointer;
}

