body * {
    font-family: 'Gothic A1';
}

#pageselect {
    position: fixed; 
    top: 62px; 
    left: 0px; 
    font-size: 15px; 
    color: #000000;
    z-index: 201;
    outline: none;
}

#pageselect div {
    display: inline-block;
    text-align: center;
    padding: 6px;
    height: 24px;
    width: 80px;
    transition: all 0.3s ease;
    vertical-align: bottom;
    cursor: pointer;
    background-color: #f0f0f0;
    color: #000000;
    height: 20px;
    border-radius: 8px 8px 0px 0px;
    border: 1px solid #939393
    border-bottom: 0px;
}

#pageselect div:hover {
    background-color: #dddddd;
    color: #000000;
}

#pageselect div[selval="t"] {
    background-color: #c4cdd1;
    color: #000000;
}

#pageselect div[disabled='t'] {
    pointer-events: none;
    color: white;
}

#tabselectdiv {
    position: absolute; 
    top: 74px; 
    left: 0px;
}

#tabselect {
    height: 46px;
    overflow: auto;
    outline: none;
    border-radius: 24px;
}

#tabselect option {
    display: inline-block;
    font-size: 20px;
    width: 90px;
    text-align: center;
    padding: 10px;
}

.container {
    position: relative;
    border: 0.5px solid #939393; 
    border-radius: 4px 4px 0px 0px; 
    padding-left: 30px; 
    padding-right: 30px; 
    padding-top: 18px; 
    padding-bottom: 14px; 
    margin-right: 10px;
    margin-bottom: 20px;
}

.container * {
    font-size: 13px;
}

.divtitle {
    font-size: 22px;
    color: #000000;
    top: -15px;
    position: relative;
}

.input-example-button {
    width: 35px;
    background-color: #e7e7e7;
    font-size: 11px;
}

.or {
    position: absolute;
    top: -17px;
    left: 30px;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 26px;
    color: #4b4b4b;
}

.divbanner {
    position: absolute;
    background-color: #c4cdd1;
    width: 100%;
    height: 36px;
    top: 0px;
    left: 0px;
    z-index: -1;
    border-radius: 4px 4px 0px 0px;
}

button {
    background-color: #fbfbfb;
    font-size: 12px;
}

#jobs-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 10px;
}

/*
#jobs-table tbody tr:nth-child(even) .job-detail-td {
    background-color: #eeeeaa;
}

#jobs-table tbody tr:nth-child(odd) .job-detail-td {
    background-color: #eeeeaa;
}
*/

#jobs-table tr.job-table-tr:hover {
    background-color: #777777;
}

.job-table-tr {
    border-bottom: 1px dotted #aaaaaa;
}

.job-detail-tr {
    background-color: #f2f2f2;
}

.job-detail-tr td table tr td:first-of-type {
    text-align: right;
    text-decoration: underline;
}

.highlighted-tr {
    background-color: #949494;
    color: black;
}

.hidden-tr {
    display: none;
}

#jobs-table tbody td {
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: default;
    font-size: 15px;
}

#jobs-table tbody tr.job-table-main-tr td {
    cursor: pointer;
}

#jobs-table thead th {
    font-size: 13px;
    font-weight: bold;
    border-bottom: 1px solid black;
    box-shadow: 0px 0px 10px 0px #c7c7c7;
}

#annotator-select-div span {
}

.logo {
    width: 260px;
    position: relative;
    top: 39px;
}

.headerdiv {
    position: fixed; 
    top: 0px; 
    width: 100%; 
    z-index: 200; 
    padding-bottom: 20px; 
    height: 74px; 
    background-color: white; 
    left: 0px; 
    right: 0px;
    border-bottom: 1px solid #a7a7a7;
}

#settingsdiv {
    display: none;
    position: fixed;
    top: 27px;
    right: 6px;
    background-color: white;
    z-index: 202;
    box-shadow: 2px 2px 2px gray;
    border: 1px solid #a2a2a2;
    padding: 14px;
    font-size: 13px;
}

.variant-input-border-bottom {
    position: relative;
    border-bottom: 1px dotted #cbcbcb;
    padding-bottom: 20px;
}

#submitcontentdiv {
    position: relative;
    top: 75px;
    display: block;
    width: 400px;
}

#jobnoteinput {
    width: calc(100% - 44px);
}

#input-text {
    width: calc(100% - 43px);
}

#refresh-jobs-table-btn {
    width: 14px; 
    height: 14px;
    position: absolute; 
    top: 22px; 
    left: 3px;
}

.threedots {
    height: 20px;
    top: 6px;
    position: absolute;
    right: 10px;
}

.email-icon {
    height: 20px;
    top: 6px;
    position: absolute;
    right: 30px;
}

.question-icon {
    height: 20px;
    top: 6px;
    position: absolute;
    right: 70px;
}

.submit-annotate-button {
    font-size: 24px; 
    padding: 10px; 
    width: 100%; 
    background-color: #c4cdd1;
    margin-bottom: 10px;
    border-style: ridge;
}

.checkbox-group-all-none-div {
    position: absolute;
    top: 8px;
    right: 5px;
}

.checkbox-group-flexbox {
    display: flex;
    flex-wrap: wrap;
}

.checkbox-group-element {
    width: 50%;
    overflow: hidden;
    white-space: nowrap;
}

#submit-input-format-select {
    font-size: 9px;
    width: 60px;
}

#submit-input-format-select option {
    font-size: 9px;
}

#mult-inputs-list p {
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 40px;
}

#accountdiv {
    position: absolute;
    right: 99px;
    top: 3px;
}

#loginsignupdialog {
    position: absolute;
    background-color: #000000;
    left: 0px;
    top: 0px;
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    font-size: 13px;
    display: none;
    margin: 0px;
    padding: 0px;
    opacity: 0.9;
    z-index: 201;
}

#loginsignupdialog button {
    font-size: 16px;
}

#logindiv {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 18px;
    line-height: 33px;
    text-align: center;
    transform: translate(-50%, -50%);
    color: white;
}

#logindiv table tbody tr td:first-child {
    text-align: right;
}

#forgotpassworddiv {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 18px;
    line-height: 33px;
    text-align: center;
    transform: translate(-50%, -50%);
    color: white;
}

#signupdiv {
    position: absolute;
    left: calc(50% - 150px);
    top: calc(50% - 125px);
    font-size: 18px;
    line-height: 33px;
    text-align: center;
    color: white;
}

#signupdiv table tbody tr td:first-child {
    text-align: right;
}

#forgotpasswordgetquestiondiv {
    text-align: center;
}

#accountmsgdiv {
    font-size: 18px;
    color: red;
    width: 100%;
    top: calc(50% - 120px);
    left: 0px;
    height: 30px;
    text-align: center;
    position: absolute;
}

#verdiv {
    position: absolute;
    top: 3px;
    left: 5px;
    height: 15px;
    font-size: 13px;
    vertical-align: bottom;

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf) format("truetype");
    font-weight: 400;
}
