#jobs-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 75%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#submit-form {
    width: 75%;
}

.submit-section {
    margin: 15px;
}

.checkbox-group-flexbox {
    display: flex;
    flex-wrap: wrap;
}

.checkbox-group-check {
    margin-left: 5px;
    margin-right: 5px;
}