.donemark {
    width: 20px;
    position: absolute;
    top: 1px;
    right: 0px;
}

#messagediv {
    position: absolute; 
    width: 100%; 
    text-align: center; 
    font-size: 14px; 
    height: 20px; 
    z-index: 1; 
    display: none;
    top: 104px;
}

.newmoduleicon {
    width: 25px;
    position: absolute;
    top: 3px;
    right: 0px;
}

.modulepanel-typesizedate-div {
    font-size: 14px;
    bottom: 2px;
    left: 9px;
    position: absolute;
}

.modulepanel-title-span {
    width: 265px;
    word-break: break-word;
    font-family: sourcesanspro-bold;
    position: absolute;
    top: 20%; left: 62%;
    transform: translate(-50%,-50%);
}

h1 {
    font-family: sourcesanspro-bold;
}

.modulepanel-org-span {
    color: green;
    font-size: 12px;
    width: 183px;
    word-break: break-word;
    display: block;
    height: 37px;
    overflow: auto;
}

.modulepanel-type-span {
    color: lightcoral;
}

.modulepanel-size-span {
    color: black;
    position: absolute;
    bottom: 38px;
    left: 138px;
    width: 65px;
    font-size: 10.5px;
}
.modulepanel-description-div{
    width: 292px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 10px;
    margin: 0;
    color: black;
    position: relative;
    left: 47%;
    bottom: 63px;
}


.modulepanel-datasource-span {
    color: #467444;
    position: absolute;
    right: 211px;
    top: 89px;
    font-size: 10.5px;
    width: 92px;
    cursor: default;
}

.modulepanel-datasource-span-other {
    color: #467444;
    position: absolute;
    right: 152px;
    top: 89px;
    font-size: 10.5px;
    width: 92px;
    cursor: default;
}
.modulepanel-divider-span {
    color: #d4d4d4;
}

.modulepanel-update-button {
    position: absolute;
    bottom: 10px;
    right: 9px;
    height: 25px;
    background-color: #94d1eb;
    height: 24px;
    border-radius: 9px;
}

.modulepanel-update-button:focus {
    outline: none; !important;
}

.modulepanel-uninstall-button {
    position: absolute;
    bottom: 12px;
    right: 9px;
    font-size: 13px;
    background-color: #e6e7e8;
    color: #414042;
    height: 24px;
    border-radius: 9px;
}

.modulepanel-uninstall-button:focus {
    outline: none; !important;
}

.modulepanel-install-button-div {
    position: absolute;
    bottom: 12px;
    right: 9px;
    font-size: 13px;
    height: 24px;
    background-color: #d1d3d4;
    border-radius: 9px;
}

.modulepanel-install-button {
    font-size: 13px;
    background-color: #d1d3d4;
    color: #414042;
    height: 24px;
    border-radius: 9px;
}

.modulepanel-install-button:focus {
    outline: none; !important;
}

.modulepanel-install-button:before {
    content: url('/result/images/download12.png');
}

.modulepanel-install-button-div img {
    width: 12px;
}

.modulepanel-stopinstall-button {
    position: absolute;
    bottom: 12px;
    right: 9px;
    font-size: 13px;
    background-color: #414042;
    color: #ffffff;
    height: 24px;
    border-radius: 9px;
}

.modulepanel-unqueueinstall-button {
    position: absolute;
    bottom: 12px;
    right: 9px;
    font-size: 13px;
    background-color: #414042;
    color: #ffffff;
    height: 24px;
    border-radius: 9px;
}

.modulepanel-unqueueinstall-button:focus {
    outline: none; !important;
}

.moduletile {
    display: inline-block;
    width: 430px;
    height: 100px;
    vertical-align: top;
    margin: 10px;
    padding: 10px;
    position: relative;
    border-radius: 8px;
    background-color: #f5f5f7;
    border: 1px solid #d4d4dc;
}

.moduletile:hover {
    background-color: #d0d0d7;
}

.moduletile-title {
    position: absolute;
    font-weight: bold;
    width: 100%;
    font-weight: auto;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    word-break: break-word;
}

.moduletile-logodiv {
    width: 130px;
    height: 97px;
    display: flex;
    align-items: center;
    background-color: white;
    cursor: pointer;
    border-radius: 9px;
    position: relative;
}

.moduletile-logo {
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    width: auto;
    height: auto;
    max-width: 95%;
    max-height: 95%;
    border-radius: 9px;
}

.moduletile-nologo {
    background-image: url('/store/genericmodulelogo.png');
}

.moduletile-typediv {
    color: #467444;
    position: absolute;
    right: 228px;
    top: 89px;
    font-size: 10.5px;
    width: 76px;
    font-weight: bold;
    cursor: default;
}

.moduletile-group-typediv {
    color: #467444;
    position: absolute;
    right: 228px;
    top: 53px;
    font-size: 10.5px;
    width: 76px;
    font-weight: bold;
    cursor: default;
}

.moduletile[moduletype=webviewerwidget] {
    background-color: #f0f6fc;
}

.moduletile[moduletype=webviewerwidget]:hover {
    background-color: #d0d6dc;
}

.moduletile-group-updateavailable-span {
    position: absolute;
    right: 10px;
    bottom: 5px;
    font-size: 10px;
}

.modulegroup {
    background-color: #c5af8d38;
}

div.modulegroup div.moduletile-nologo {
    width: 200px;
    height: 230px;
    top: 24px;
    left: 25px;
    position: absolute;
}

div.modulegroup div.moduletile-logodiv {
    position: absolute;
}

div.modulegroup div.modulepanel-title-span {
    width: 265px;
    word-break: break-word;
    font-family: sourcesanspro-bold;
    position: absolute;
    top: 20%;
    left: 62%;
    transform: translate(-50%,-50%);
}

div.modulegroup span.modulepanel-datasource-span {
    top: 207px;
}

.panelinstallstatusspan {
    background-color: white;
    font-size: 12px;
}

.panelinstallprogressspan {
    position: absolute;
    top: 0px;
    right: 2px;
    font-size: 12px;
}

#storebodydiv {
    position: absolute;
    top: 56px;
    width: calc(100% - 10px);
}

#storemenudiv {
    position: fixed;
    top: 63px;
    width: 300px;
    height: calc(100% - 0px);
    overflow: auto;
    font-size: 20px;
    background-color: #f5f5f7;
    padding-left: 6px;
    left: 1px;
}

.store-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 23px;
}

.store-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.store-switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #a1a1a1;
    transition: .1s;
    border-radius: 14px;
}

.store-switch-slider:before {
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .1s;
    border-radius: 9px;
}

input:checked + .store-switch-slider {
    background-color: #a1a1a1;
}

input:focus + .store-switch-slider {
    box-shadow: 0 0 1px #a1a1a1;
}

input:checked + .store-switch-slider:before {
    transform: translateX(15px);
}

.store-switch-text {
    font-size: 13px;
}

#store-sort-div {
    position: absolute;
    top: 16px;
    left: 110px;
}

#store-sort-label {
    font-size: 13px;
}

#store-sort-select {
    font-size: 12px;
}

#remotemodulepanels {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 48px;
    background-color: white;
    left: 100px;
    max-width: 100%;
}

#store-allmodule-div {
    position: absolute;
    top: 0px;
    left: 200px;
    width: calc(100% - 210px);
}

#store-modulegroup-div {
    position: absolute;
    top: 0px;
    left: 200px;
    width: calc(100% - 210px);
}

#store-modulegroup-content-div {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 36px;
    background-color: white;
    left: 100px;
    max-width: 100%;
    margin-top: 30px;
}

#store-modulegroup-title-span {
    font-size: 27px;
    display:table;
    margin:0 auto;
    margin-top: 20px;
}
.store-modulegroup-type-span {
    width: 265px;
    word-break: break-word;
    font-family: sourcesanspro-bold;
    position: absolute;
    top: 20%;
    left: 62%;
    transform: translate(-50%,-50%);
}
#store-home-div {
    position: absolute;
    top: 16px;
    left: 310px;
    width: calc(100% - 310px);
}

.store-home-sectiontitle {
    font-size: 30px;
    font-family: sourcesanspro-bold;
    color: #385487;
    margin-bottom: 6px;
}

.store-home-carouseldiv {
    width: calc(100% - 56px);
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    scroll-behavior: smooth;
}

.store-carousel-arrow {
    height: 39px;
    cursor: pointer;
    opacity: 0.2;
}

.store-carousel-arrow:hover {
    opacity: 0.5;
}

.moduledetaildiv {
    position: fixed;
    width: 80%;
    height: 80%;
    margin: auto;
    z-index: 300;
    background-color: white;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 6px;
    padding: 10px;
    padding-bottom: 23px;
    border: 1px solid black;
    box-shadow: 0px 0px 20px;
}

#store-namefilter {
    width: 180px;
    position: relative;
    left: 45px;
    margin-top: 20px;
    margin-bottom: 9px;
}

.moduledetail-output-table {
    border-spacing: 12px;
}

.moduledetail-output-table thead td {
    border-bottom: 1px dotted #aaaaaa;
}

#moduledetaildiv-infodiv {
    height: 100%;
    overflow: auto;
    line-height: 18px;
}

#moduledetaildiv-infodiv>div {
    margin-top: 12px;
}

#yesnodialog {
	position: fixed;
    font-size: 14px;
    width: 500px;
    max-height: 500px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: white;
    text-align: center;
    box-shadow: 3px 3px 12px 0px;
    z-index: 300;
    padding: 10px;
}

#yesnodialog .buttondiv {
    font-size: 16px;
}

#yesnodialog .buttondiv button {
    width: 100px;
    height: 40px;
}

#yesnodialog-contentdiv {
    font-size: 16px;
    max-height: 300px;
    overflow: auto;
    padding: 10px;
}

#store-systemmodule-div {
    display: none;
    position: fixed;
    top: 63px;
    left: 0;
    width: 100%;
    height: calc(100% - 63px);
    z-index: 9;
    text-align: center;
    background-color: rgba(100, 100, 100, 0.77);
}

#store-systemmodule-systemnotready-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: black;
    padding: 20px;
    background-color: #e6e7e8;
}

#store-systemmodule-missing-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: black;
    padding: 20px;
    background-color: #e6e7e8;
}

#store-systemmoduleupdate-announce-div {
    font-size: 12px;
    color: #f7684b;
    z-index: 201;
    display: none;
}

#store-systemmodule-update-div {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: black;
    padding: 20px;
    background-color: #e6e7e8;
}

#store-systemmodule-msg-div {
    position: absolute;
    top: calc(50% + 200px);
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    min-height: 100px;
    color: white;
}

#store-systemmodule-install-button.disabled {
    pointer-events: none;
    background-color: gray;
}

#store-noconnect-div {
    display: none;
    position: fixed;
    top: 63px;
    left: 0;
    width: 100%;
    height: calc(100% - 63px);
    z-index: 9;
    text-align: center;
    background-color: rgba(100, 100, 100, 0.77);
}

#store-noconnect-msg-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: black;
    padding: 20px;
    background-color: #e6e7e8;
}

#store-update-all-div {
    display: none;
    position: absolute;
    left: 220px;
    top: 16px;
}


#version-announcements {
    display: flex;
}

#verdiv {
    height: 15px;
    font-size: 13px;
    z-index: 201;
    padding-left: 5px;
    padding-right: 5px;
}

.checkmark-store {
    position: absolute;
    top: 3px;
    left: 3px;
    height: 21px;
    width: 21px;
    background-color: #e5e6e7;
    border-radius: 5px;
}

.checkbox-store-container {
    display: block;
    position: relative;
    padding-left: 31px;
    margin-bottom: 2px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-store-container:hover {
    background-color: #888888;
    color: #ffffff;
}

/* Hide the browser's default checkbox */
.checkbox-store-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    top: 0px;
    left: 0px;
}

/* On mouse-over, add a grey background color */
.checkbox-store-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-store-container input:checked ~ .checkmark-store {
    background-color: #5eb4e5;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark-store:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-store-container input:checked ~ .checkmark-store:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-store-container .checkmark-store:after {
    left: 7px;
    top: 1px;
    width: 4px;
    height: 13px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#suggestion-text {
    font-size: 16px;
    margin-left: 7px;
}

#suggestion-logo {
    width: 20px;
    margin-left: 2px;
}

#suggestion-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    color: black;
}

#suggestion-link:hover{
    background-color: #888888;
    color: #ffffff;
}

.back-arrow {
    position: absolute;
    width: 40px;
    cursor: pointer;
    left: 112px;
    top: 14px;
}
@media screen and (max-width: 1750px) {
    .store-home-carouseldiv {width: 940px}
  }

  @media screen and (max-width: 1350px) {
    .store-home-carouseldiv {width: 480px}
  }

.home-tile-group {
    display: inline-block;
    flex-direction: column;
    width: 470px;
}

.store-home-sectiondiv {
    margin-bottom: 50px;
}

#store-tag-custom-div {
    font-size: 16px;
}

#store-tag-custom-div .checkbox-store-container {
    height: 27px;
    text-transform: capitalize;
}

#update-available-div {
    pointer-events: none;
    color: #aaaaaa;
}

#update-available-div.active {
    pointer-events: auto;
    color: #000000;
}

#bycategory-div {
    margin-bottom: 10px;
    font-size: 16px;
}

#installationprogressmsgdiv {
    position: fixed;
    z-index: 1;
    overflow: auto;
    font-size: 13px;
    width: 430px;
    height: 200px;
    left: 10px;
    bottom: 10px;
    border: 1px solid #bfbdc1;
    background-color: white;
    padding: 10px;
    border-radius: 13px;
    display: none;
}

#installationprogressmsgdiv.show {
    display: block;
}

#progressdivcloseicon {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

#chaticondiv {
    position: fixed;
    z-index: 2;
    bottom: 0px;
    left: 6px;
}

#chaticondiv.hide {
    display: none;
}

#chaticon {
    content:url("/store/images/chat-left-text.svg");
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#chaticondiv.new #chaticon {
    content:url("/store/images/chat-left-text-fill.svg");
}

