body {
	font-family: Roboto;
	font-size: 10px;
	margin: 0px;
}

.rightdiv {
	height: 100%; 
	width: 100%;
    overflow: auto;
}

.rightcontentdiv {
	width: 100%;
	height: calc(100% - 0px);
	overflow: auto;
}

.menu {
	display: inline-block;
    vertical-align: bottom;
	position: relative;
	background-color: #d1d1d1;
	top: 0px;
	height: 20px;
	padding: 3px;
	font-size: 13px;
}

.menu1 {
	display: inline-block;
	position: relative;
    color: black;
    padding: 4px;
    font-size: 13px;
    border: none;
	cursor: pointer;
}

.menu2 {
	display: none;
	z-index: 1;
	position: absolute;
	top: 23px;
	left: -3px;
	background-color: #c8c8c8;
	width: 150px;
	border: 1px solid #888888;
}

.menu3 {
	position: relative;
	z-index: 1;
	background-color: #c8c8c8;
	color: black;
	width: 144px;
	padding-left: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.menu1 a {
	color: black;
	text-decoration: none;
}

.menu2 a {
	display: block;
	text-decoration: none;
	padding: 4px;
}

.menu1:hover .menu2 {
	display: block;
}

.menu1:hover, .menu1 a:hover, .menu2 a:hover {
	background-color: #555555;
	color: #ffffff;
}

.menu3 > div {
	display: none;
	border: 1px solid #888888;
}

.menu3:hover > div {
	display: block;
	position: absolute;
	background-color: #c1c1c1;
	left: 150px;
	top: 0px;
	padding: 6px;
	z-index: 2;
}

.draggableDiv {
	background-color: #bed4dc;
	width: 100%;
	height:	3px;
	text-align: center;
	cursor: row-resize;
	position: relative;
}

.selectedrow {
	background: #aaaaaa;
}

table.detailtable td {
	vertical-align: top;
}

.hiddencolumn {
	border-radius: 4px;
	cursor: pointer;
	padding: 3px;
	margin: 5px;
	font-size: 10px;
	font-family: Roboto;
}

.hiddencolumn[hide="true"] {
	background: #dddddd;
}

.hiddencolumn[hide="false"] {
	background: #8e8e8e;
}

.tabhead {
	margin-right: -1px;
    display: inline-block;
    height: 14px;
    padding: 6px;
    transition: all 0.3s ease;
    vertical-align: bottom;
    font-size: 13px;
    border: 1px solid #5b8588;
    cursor: pointer;
}

.tabhead:hover {
	background-color: #c4e1ff;
    height: 30px;
}

.tabhead.show {
	background-color: #a6eed0;
    height: 30px;
}

.tabhead.hide {
}

div.tabContent {
	position: absolute;
	top: 62px;
	width: calc(100% - 12px);
	/*border: 1px solid #c9c3ba;*/ 
	padding: 0.5em; 
	background-color: #ffffff; 
	height: -moz-calc(100% - 90px);
	height: -webkit-calc(100% - 90px);
	height: calc(100% - 90px);
}

div.tabContent.show { 
	display: block; 
}

div.tabContent.hide { 
	display: none; 
}

.pq-grid-cell {
	font-family: Roboto;
	font-size: 12px;
}

.pq-grid-col {
	font-family: Roboto;
	font-size: 12px;
}

.ui-widget {
	font-family: Roboto;
	font-size: 12px;
}

.pq-grid {
	font-size: 12px;
}

.ui-widget-header .ui-icon{
	    /* background-image: url("../js/paramquery-pro-3/images/ui-icons_222222_256x240.png"); */
}

.tablediv {
	position: absolute;
	width: 100%;
	height: 500px;
}

.tablesidebardiv {
	position: absolute;
	top: 30px;
	right: 0px;
	width: 30px;
}

.detaildiv {
	overflow: auto;
	position: absolute;
	width: calc(100% - 6px);
	bottom: 10px;
	height: 350px;
}

.detailcontainerwrapdiv {
	width: 100%;
	height: 100%;
	overflow: auto;
	position: relative;
}

.detailsidebardiv {
	width: 30px;
	height: 100%;
	position: absolute;
	right: 0px;
	top: 0px;
}

.detailwidget {
	font-size: 12px;
	border: 1px solid #bfbfbf;
	padding: 5px;
	margin: 4px;
}

.detailwidgetheader {
	font-size: 14px;
	font-weight: bold;
	display: inline-block;
	width: 100%;
	position: relative;
	top: 0px;
	left: 0px;
}

.detailwidgettitle {
	display: inline-block;
	width: calc(100% - 40px);
	background: #c5dbdb;
	font-size: 13px;
	font-weight: bold;
}

.detailcontentdiv {
	overflow: auto;
	height: calc(100% - 38px);
	padding: 5px;
}

.tablecolumnselectorpanel {
	position: absolute;
	z-index: 1;
	right: 30px;
	top: 4px;
	width: 300px;
	height: calc(100% - 40px);
	overflow: auto;
	background-color: #ffffff;
	padding: 10px;
	border: 1px solid gray;
	border-radius: 6px;
}

.widgetselectorpanel {
	position: absolute;
	z-index: 1;
	right: 30px;
	top: 4px;
	width: 300px;
	background-color: #ffffff;
	padding: 10px;
	border: 1px solid gray;
	border-radius: 6px;
}

.detailsidepanelbutton {
	cursor: pointer;
	font-size: 16px;
	text-align: center;
	border: 1px solid gray;
	width: 18px;
	border-radius: 5px;
	margin: auto;
	margin-top: 3px;
}

.detailwidgeticondiv {
	display: inline-block;
	width: 32px;
	position: absolute;
	right: 0px;
	top: 0px;
}

.detailwidgetclosebutton {
	cursor: pointer;
	margin-left: 4px;
}

.detailwidgetpinbutton {
	cursor: pointer;
	font-size: 12px;
	text-align: center;
	border: 1px solid gray;
	width: 14px;
	border-radius: 4px;
	cursor: pointer;
}

.detailwidgetpinbutton.unpinned {
	color: black;
	background-color: white;
}

.detailwidgetpinbutton.pinned {
	color: white;
	background-color: #848484;
}

.detailwidgetselect {
	font-family: Roboto;
	font-size: 11px;
}

.detailHeader {
	font-size: 13px;
	font-weight: bold;
}

.detailContent {
	font-size: 13px;
}

.section_header {
	font-size: 16px;
	font-weight: bold;
}

.inlineselect {
	display: inline-block;
    background-color: #aecbae;
}

#filterlistdiv {
	width: 500px;
	minHeight: 50px;
	padding: 4px;
	fontSize: 13px;
}

.closebutton {
	width: 16px;
	height: 16px;
}

p {
	font-size: 13px;
}

.infonoticediv {
	min-height: 2px;
	font-size: 14px;
	padding: 13px;
	margin: 2px;
	color: white;
}

.cellvaluediv {
	position: relative;
	height: 18px;
	width: 100%;
	font-size: 14px;
}

button {
	background-color: white;
}
