body {
	font-family: Roboto;
	font-size: 10px;
	margin: 0px;
}

.rightdiv {
	height: 100%; 
	width: 100%;
    overflow: auto;
}

.rightcontentdiv {
	width: 100%;
	height: calc(100% - 0px);
	overflow: auto;
}

.menu1_container {
	display: inline-block;
    vertical-align: bottom;
	position: relative;
	background-color: #d1d1d1;
	top: 0px;
	height: 20px;
	padding: 3px;
	font-size: 13px;
    z-index: 100;
}

.menu1 {
	display: inline-block;
	position: relative;
    color: black;
    padding: 4px;
    font-size: 13px;
    border: none;
	cursor: pointer;
    z-index: 100;
}

.menu2_container {
	display: none;
	position: absolute;
	top: 23px;
	left: -3px;
	background-color: #c8c8c8;
	width: 150px;
	border: 1px solid #888888;
    z-index: 100;
}

.menu2 {
	position: relative;
	z-index: 1;
	background-color: #c8c8c8;
	color: black;
	width: 130px;
	padding-left: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
    z-index: 100;
}

.menu3 {
    display: none;
    left: 145px;
    position: absolute;
    border: 1px solid #888888;
    background-color: #c8c8c8;
    z-index: 100;
    top: 0px;
}

.menu1 a {
	color: black;
	text-decoration: none;
    z-index: 100;
}

.menu2 a {
	display: block;
	text-decoration: none;
	padding: 4px;
    z-index: 100;
}

/*
.menu1:hover .menu2 {
	display: block;
    z-index: 100;
}

.menu1:hover, .menu1 a:hover, .menu2 a:hover {
	background-color: #555555;
	color: #ffffff;
    z-index: 100;
}

.menu3 > div {
	display: none;
	border: 1px solid #888888;
    z-index: 100;
}

.menu3:hover > div {
	display: block;
	position: absolute;
	background-color: #c1c1c1;
	left: 150px;
	top: 0px;
	padding: 16px;
    z-index: 100;
}
*/

.draggableDiv {
	background-color: #bed4dc;
	width: 100%;
	height:	8px;
	text-align: center;
	cursor: row-resize;
	position: relative;
}

.selectedrow {
	background: #aaaaaa;
}

table.detailtable td {
	vertical-align: top;
}

.hiddencolumn {
	border-radius: 4px;
	cursor: pointer;
	padding: 3px;
	margin: 5px;
	font-size: 10px;
	font-family: Roboto;
}

.hiddencolumn[hide="true"] {
	background: #dddddd;
}

.hiddencolumn[hide="false"] {
	background: #8e8e8e;
}

.tabhead {
	margin-right: -1px;
    display: inline-block;
    height: 14px;
    padding: 6px;
    transition: all 0.3s ease;
    vertical-align: bottom;
    font-size: 13px;
    border: 1px solid #5b8588;
    cursor: pointer;
    position: relative;
    top: 4px;
}

.tabhead:hover {
	background-color: #f0f0f0;
    height: 30px;
}

.tabhead.show {
	background-color: #d6d6d6;
    height: 30px;
}

.tabhead.hide {
}

div.tabContent {
	position: absolute;
	top: 62px;
	width: calc(100% - 12px);
	/*border: 1px solid #c9c3ba;*/ 
	padding: 0.5em; 
	background-color: #ffffff; 
	height: -moz-calc(100% - 90px);
	height: -webkit-calc(100% - 90px);
	height: calc(100% - 90px);
}

div.tabContent.show { 
	display: block; 
}

div.tabContent.hide { 
	display: none; 
}

.pq-grid-cell {
	font-family: Roboto;
	font-size: 12px;
}

.pq-grid-col {
	font-family: Roboto;
	font-size: 12px;
}

.ui-widget {
	font-family: Roboto;
	font-size: 12px;
}

.pq-grid {
	font-size: 12px;
}

.ui-widget-header .ui-icon{
	    /* background-image: url("../js/paramquery-pro-3/images/ui-icons_222222_256x240.png"); */
}

.tablediv {
	position: absolute;
	width: 100%;
	height: 500px;
}

.tablesidebardiv {
	position: absolute;
	top: 30px;
	right: 0px;
	width: 30px;
}

.detaildiv {
	overflow: auto;
	position: absolute;
	width: calc(100% - 6px);
	bottom: 10px;
	height: 350px;
}

.detailcontainerwrapdiv {
	width: 100%;
	height: 100%;
	overflow: auto;
	position: relative;
}

.detailsidebardiv {
	width: 30px;
	height: 100%;
	position: absolute;
	right: 0px;
	top: 0px;
}

.detailwidget {
	font-size: 12px;
	border: 1px solid #bfbfbf;
	padding: 5px;
	margin: 4px;
}

.detailwidgetheader {
	font-size: 14px;
	font-weight: bold;
	display: inline-block;
	width: 100%;
	position: relative;
	top: 0px;
	left: 0px;
}

.detailwidgettitle {
	display: inline-block;
	width: calc(100% - 40px);
	background: #d1dae0;
	font-size: 13px;
	font-weight: bold;
}

.detailcontentdiv {
	overflow: auto;
	height: calc(100% - 38px);
	padding: 5px;
}

.tablecolumnselectorpanel {
	position: absolute;
	z-index: 1;
	right: 30px;
	top: 4px;
	width: 300px;
	height: calc(100% - 40px);
	overflow: auto;
	background-color: #ffffff;
	padding: 10px;
	border: 1px solid gray;
	border-radius: 6px;
}

.widgetselectorpanel {
	position: absolute;
	z-index: 1;
	right: 30px;
	top: 4px;
	width: 300px;
	background-color: #ffffff;
	padding: 10px;
	border: 1px solid gray;
	border-radius: 6px;
}

.detailsidepanelbutton {
	cursor: pointer;
	font-size: 16px;
	text-align: center;
	border: 1px solid gray;
	width: 18px;
	border-radius: 5px;
	margin: auto;
	margin-top: 3px;
}

.detailwidgeticondiv {
	display: inline-block;
	width: 32px;
	position: absolute;
	right: 0px;
	top: 0px;
}

.detailwidgetclosebutton {
	cursor: pointer;
	margin-left: 4px;
}

.detailwidgetpinbutton {
	cursor: pointer;
	font-size: 12px;
	text-align: center;
	border: 1px solid gray;
	width: 14px;
	border-radius: 4px;
	cursor: pointer;
}

.detailwidgetpinbutton.unpinned {
	color: black;
	background-color: white;
}

.detailwidgetpinbutton.pinned {
	color: white;
	background-color: #848484;
}

.detailwidgetselect {
	font-family: Roboto;
	font-size: 11px;
}

.detailHeader {
	font-size: 13px;
	font-weight: bold;
}

.detailContent {
	font-size: 13px;
}

.section_header {
	font-size: 16px;
	font-weight: bold;
}

.inlineselect {
	display: inline-block;
    background-color: #aecbae;
}

#filterlistdiv {
	width: 500px;
	minHeight: 50px;
	padding: 4px;
	fontSize: 13px;
}

.closebutton {
	width: 16px;
	height: 16px;
}

p {
	font-size: 13px;
}

.infonoticediv {
	min-height: 2px;
	font-size: 14px;
	padding: 13px;
	margin: 2px;
	color: white;
}

button {
	background-color: white;
}

.filter-element-div {
    margin: 5px;
	padding: 3px;
}

.filter-group-div {
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-radius: 5px;
	display: flex;
}

.filter-join-operator-div {
	margin-left: 12px;
	cursor: pointer;
	font-size: 13px;
	width: fit-content;
	height: fit-content;
}
.filter-join-operator-div:hover {
	font-weight: bold;
}

.filter-not-toggle {
	font-size: 13px;
	cursor: pointer;
	margin: 3px;
}
.filter-not-toggle:hover {
	font-weight: bold;
}
div.filter-not-toggle {
	display: flex;
    align-items: center;
}
.filter-not-toggle[active="true"] {
	color: black;
	font-weight: bold;
}
.filter-not-toggle[active="false"] {
	color: #bebebe;
	text-decoration: line-through;
}
.filter-group-wrapper-div {
	display: flex;
}

.filter-control-button {
	font-weight: bold;
	padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
	padding-bottom: 2px;
}
.filter-group-controls-div {
	display: flex;
	margin-bottom: 3px;
}
.filter-add-elem-div {
	font-size: 15px;
	align-self: flex-end;
	margin: 5px;
}

.filter-element-remove {
	font-size: 10px;
	cursor: default;
}
.filter-element-remove:hover {
	font-weight: bold;
}

.detail-info-line-header {
    vertical-align: top;
    min-width: 60px;
    font-weight: bold;
}

.detail-info-line-content {
    vertical-align: top;
    min-width: 60px;
}

.email-icon {
    height: 15px;
    top: 5px;
    position: absolute;
    right: 30px;
}

.question-icon {
    height: 17px;
    top: 4px;
    position: absolute;
    right: 62px;
}

div.pq-select-button {
    min-width: 12px;
}

.pq-select-button > .pq-select-text {
    text-align: center;
}

.filter-level-button {
    cursor: pointer;
    text-decoration: underline;
    font-size: 13px;
}

.filter-level-button.filter-level-simple:before {
    content: "Advanced Filter";
}

.filter-level-button.filter-level-advanced:before {
    content: "Back to simple filter";
}

.filter-group-div.filter-level-simple {
    border-left: 0;
    border-right: 0;
}

#filterdiv {
    z-index: 100;
}

.data-retrieving-msg-div {
	position: fixed;
	text-align: center;
    font-size: 14px;
    width: 400px;
    height: 400px;
}

.data-retrieving-msg-div img {
	width: 100px;
    height: 100px;
}

.pq-grid-title-row [pq-row-indx="0"] {
        height: 40px;
}

.pq-grid-title-row [pq-row-indx="1"] {
        height: 60px;
}

.table-header-contextmenu-div {
    background-color: white;
    position: fixed;
    z-index: 400;
    border: 1px solid #d3d3d3;
    padding-right: 0;
    padding-left: 0;
    padding-top: 4px;
    padding-bottom: 4px;
    box-shadow: 3px 3px 3px -1px #676767;
}

.table-header-contextmenu-div ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


.table-header-contextmenu-div ul li {
    padding: 10px;
}

.table-header-contextmenu-div ul li:hover {
    background-color: #153344;
}

.table-header-contextmenu-div ul li:hover a {
    color: #ffffff;
}

.cellvaluediv {
	position: relative;
	height: 18px;
	width: 100%;
	font-size: 13px;
}

.cellvaluediv button {
    display: inline-block;
    font-size: 10px;
    border-radius: 10px;
    width: 15px;
    height: 16px;
    padding: 0;
    margin: 0;
    border: 1px solid #aaaaaa;
    vertical-align: top;
}

.cellvaluediv textarea {
    width: calc(100% - 30px);
    height: 100%;
    resize: none;
    overflow: auto;
    vertical-align: middle;
}

