@font-face {
    font-family: 'roboto-medium';
    src: url('/result/fonts/roboto-medium-webfont.woff') format('woff'),
         url('/result/fonts/roboto-medium-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'roboto-light';
    src: url('/result/fonts/roboto-light-webfont.woff') format('woff'),
         url('/result/fonts/roboto-light-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'roboto-bold';
    src: url('/result/fonts/roboto-bold-webfont.woff') format('woff'),
         url('/result/fonts/roboto-bold-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'sourcesanspro-bold';
    src: url('/result/fonts/sourcesanspro-bold-webfont.woff') format('woff'),
         url('/result/fonts/sourcesanspro-bold-webfont.woff2') format('woff2');
}

body * {
    font-family: 'roboto-light';
}

/* Need for code sections of module markdowns */
code {
    font-family: monospace;
}

#pageselect {
    font-size: 15px;
    color: #ffffff;
    z-index: 201;
    outline: none;
    align-self: end;
}

#pageselect div {
    display: inline-block;
    text-align: center;
    padding: 6px;
    height: 24px;
    width: 128px;
    vertical-align: bottom;
    cursor: pointer;
    background-color: #94d1eb;
    height: 20px;
    border-radius: 2px 2px 0px 0px;
    border: 1px solid #939393;
    border-bottom: 0px;
    margin-left: 2px;
    font-family: roboto-medium;
}

#pageselect div:hover {
    background-color: #5cb5e5;
}

#pageselect div[selval="t"] {
    height: 30px;
    background-color: #4a87bd;
}

#pageselect div[disabled='t'] {
    pointer-events: none;
    color: white;
    background-color: #aaaaaa;
}

#tabselectdiv {
    position: absolute; 
    top: 74px; 
    left: 0px;
}

#tabselect {
    height: 46px;
    overflow: auto;
    outline: none;
    border-radius: 24px;
}

#tabselect option {
    display: inline-block;
    font-size: 20px;
    width: 90px;
    text-align: center;
    padding: 10px;
}

.container {
    font-size: 13px;
    position: relative;
    border: 0.5px solid #939393; 
    border-radius: 4px 4px 0px 0px; 
    padding-left: 30px; 
    padding-right: 30px; 
    padding-top: 18px; 
    padding-bottom: 14px; 
}

.divtitle {
    font-family: sourcesanspro-bold;
    font-size: 22px;
    color: #ffffff;
    top: -15px;
    position: relative;
    z-index: 1;
}

.or {
    width: 26px;
    color: #4b4b4b;
}

.divbanner {
    position: absolute;
    background-color: #385487;
    width: 100%;
    height: 36px;
    top: 0px;
    left: 0px;
    border-radius: 4px 4px 0px 0px;
}

#modchoose .divbanner {
    background-color: transparent;
}

button {
    font-family: 'roboto-bold';
    background-color: #fbfbfb;
    font-size: 12px;
}

#jobs-table {
    width: calc(100% - 1px);
    border-collapse: collapse;
    border-spacing: 10px;
    text-align: center;
}

#jobs-table thead tr {
    height: 34px;
    background-color: #4a87bd;
    color: white;
}

#jobs-table tr.job-table-tr:hover {
    background-color: #dddddd;
}

.job-table-tr {
    border-bottom: 1px dotted #aaaaaa;
}

.job-detail-tr {
    background-color: #f2f2f2;
}

.job-detail-tr td table tr td:first-of-type {
    text-align: right;
    text-decoration: underline;
}

.highlighted-tr {
    background-color: #949494;
    color: black;
}

.hidden-tr {
    display: none;
}

#jobs-table tbody td {
    padding-top: 9px;
    padding-bottom: 9px;
    cursor: default;
    font-size: 15px;
}

#jobs-table thead td {
    border: 1px solid #dddddd;
}

#jobs-table tbody tr.job-table-main-tr td {
    border: 1px solid #dddddd;
}

#jobs-table thead th {
    font-size: 13px;
    font-weight: bold;
    border-bottom: 1px solid #cccccc;
    /*box-shadow: 0px 0px 10px 0px #c7c7c7;*/
}

.logo {
    width: 65px;
    padding: 3px;
}

.headerdiv {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 200; 
    min-height: 62px;
    background-color: white; 
    border-bottom: 1px solid #dfdfdf;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

#header-right {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    min-height: 62px;
}

#top-menu {
    display: flex;
    align-items: center;
}

.menu-icon-container {
    border-radius: 20px;
    transition: .3s ease;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2px;
}

.menu-icon-container:hover {
    background: lightgrey;
}


#settingsdiv {
    display: none;
    right: 6px;
}

#helpdiv {
    display: none;
    right: 52px;
    flex-direction: column;
    border-bottom: 1px solid lightgrey;
    max-width: 30em;
}

.help-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    color: #4a87bd;
    border-right: 3px solid white;
    border-left: 3px solid white;
    border-bottom: 1px solid lightgrey;
    padding: 5px
}

.help-link:hover {
    border-right: 3px solid #4a87bd;
    border-left: 3px solid #4a87bd;
    transition: .5s ease;
}

.help-menu-icon {
    height: 20px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.help-right {
    display: flex;
    flex-direction: column;
    margin-left: 10px
}

.help-menu-title {
    font-size: 18px;
    font-weight: 900;
}

.help-menu-description {
    color: black;
}

.menu-dropdown {
    position: fixed;
    top: 40px;
    background-color: white;
    z-index: 202;
    box-shadow: 2px 2px 2px gray;
    border: 1px solid #a2a2a2;
    padding: 14px;
    font-size: 13px;
}

.variant-input-border-bottom {
    position: relative;
    border-bottom: 1px dotted #cbcbcb;
    padding-top: 1em;
}

.flexcol {
    display: flex;
    flex-direction: column;
}

.flexrow {
    display: flex;
    flex-direction: row;
}

#jobnoteinput {
    width: calc(100% - 8px);
    resize: vertical;
}

#input-text {
    width: calc(100% - 8px);
    height: 4em;
    transition: all ease .2s;
    resize: vertical;
}

#input-text.input-text-selected {
    height: 15em;
}

#jobs-table-footer {
    display: flex;
}

#jobs-table-pagination-div {
    margin-left: auto;
}

.menu-icon {
    height: 15px;
}

.menu-icon-large {
    height: 20px;
}

.threedots {
    height: 20px;
    cursor: pointer;
    margin-top: -2px; /* help center the larger icon */
}

#nointernetdiv {
    display: none;
}

.checkbox-group-all-none-div {
    margin-bottom: 4px;
    display: flex;
}

.checkbox-group-flexbox {
    display: flex;
    flex-wrap: wrap;
}

.checkbox-group-element {
    width: 50%;
    white-space: nowrap;
}

.checkbox-group-element label {
    overflow: hidden;
    text-overflow: ellipsis;
}

.checkbox-group-element span.icon {
    position: relative;
    top: 16px;
}

.checkbox-group-element-sdiv[kind=annotator-group-div] {
    width: 200%;
}

div.checkbox-group-element[kind=group] span.icon {
    position: relative;
    left: 2px;
    top: 0px;
}

div.checkbox-group-element[kind=group] span.label {
    position: relative;
    left: 7px;
}

.checkbox-group-all-button {
    font-size: 1.8em;
    cursor: pointer;
}

.checkbox-group-all-button::before {
    content: "\2611";
}

.checkbox-group-none-button {
    font-size: 1.8em;
    cursor: pointer;
    margin-left: 5px;
}

.checkbox-group-none-button::before {
    content: "\2612";
}

#annotator-select-div > .checkbox-group-flexbox > .checkbox-group-element {
    width: calc(50% - 10px);
    border-right: 10px solid transparent;
}

#submit-input-format-select {
    width: 85px;
}

#mult-inputs-list {
    margin-left: 10px;
}

#mult-inputs-list p {
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 40px;
}

.slider-switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 21px;
}

.slider-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #a8a8a8;
    transition: .4s;
    border-radius: 10px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #7eb94a;
}

input:focus + .slider {
    box-shadow: 0 0 1px #7eb94a;
}

input:checked + .slider:before {
    transform: translateX(14px);
}

#annotator-group-select-tag-div {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    transition: max-height .4s;
}

#annotator-group-select-tag-div.off {
    overflow: hidden;
    max-height: 0px;
}

#annotator-group-select-tag-div.on {
    overflow: hidden;
}

#annotator-group-select-div {
    display: none;
}

#annotator-group-select-div.show {
    display: block;
}

#annotator-group-select-div div.pq-select-button {
    background-color: white;
}

#package-select-dropdown {
    max-width: 300px;
    min-width: 300px;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background-color: #c5af8d;
}

#annotator-group-select-div .div-header {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    color: #899989;
}

#submit-annotator-set-switch {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    position: relative;
    top: -6px;
    width: 56px;
    line-height: 2px;
}
#submit-annotator-set-switch span {
    font-size: 7px;
}

.show {
    display: block;
}

.hide {
    display: none;
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf) format("truetype");
    font-weight: 400;
}

.butn {
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 2px;
  font-family: 'roboto-bold';
  color: #ffffff;
  background-color: #c5af8d;
  text-decoration: none;
  border-style: none;
  margin-left: 1px;
  margin-right: 1px;
  cursor: pointer;
}

.butn:hover {
  background: #5cb5e5;
  text-decoration: none;
}

.input-example-button {
    min-width: 35px;
    font-size: 11px;
    background-color: #6e593a;
    padding: 3px 6px;
}

.input-label {
    font-size: 13px;
    margin-top: 0.3em;
}

.submit-annotate-button {
    font-size: 24px; 
    width: 100%;
    padding: 9px;
    background-color: #de6342;
    margin-left: 0;
    margin-top: 1em;
}

.launch-button {
    background-color: #c5af8d;
}

.launch-button:hover {
    background-color: #6e593a;
}

.active-download-button {
    background-color: #c5af8d;
    border: 1px solid #c5af8d;
    position: relative;
}

.active-download-button:hover {
    background-color: #6e593a;
    border: 1px solid #6e593a;
}

/*
.active-download-button:after {
    content: ' ' url('/result/images/download12.png');
}
*/

.inactive-download-button {
  background-color: white;
  color: #c5af8d;
  border: 1px solid #c5af8d;
  position: relative;
}

.inactive-download-button:hover {
    background-color: white;
    cursor: default;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 21px;
  margin-bottom: 2px;
  cursor: pointer;
  /*font-size: 22px;*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /*font-size: 12px;*/
}

.checkbox-container:hover {
    background-color: #3175b0;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  top: 0px;
  left: 0px;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #e5e6e7;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #5eb4e5;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 4px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#submitdiv {
    display: grid;
    grid-template-columns: 390px 1fr;
    gap: 10px;
    position: fixed;
    top: 70px;
    left: 0px;
    width: calc(100% - 20px);
    height: calc(100% - 80px);
    margin: 0px 10px 0px 10px;
    overflow: auto;
}

#submitdiv .admin-mode {
    grid-template-columns: 1fr;
}

#jobdiv {
    position: relative;
    overflow: auto;
}

#input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#input-file + label {
    font-family: roboto-medium;
    font-size: 13px;
    color: white;
    background-color: #6e593a;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#input-file:focus + label, #input-file + label:hover {
    background-color: #94d1eb;
}

#submit-variant-div {
    background-color: #dbd3c8;
    color: black;
}

#submit-variant-div .divbanner {
    background-color: #8c8780;
}

#modchoose {
    background-color: #96b6c6;
	color: white;
    margin-top: 15px;
}

#modchoose .div-header {
	color: white;
}

#modchoose-header {
    display: flex;
    justify-content: space-between;
}

#show-annotator {
    text-align: left;
    flex-grow: 1;
    cursor: pointer;
    /* width: 50%; */
}

#show-annotator:hover {
    text-decoration: underline;
}

#show-package {
    text-align: center;
    flex-grow: 1;
    cursor: pointer;
    /* width: 50%; */
}

#show-package:hover {
    text-decoration: underline;
}

.chevron {
  position: absolute;
  text-align: center;
  padding: 2px;
  margin-top: 16px;
  margin-bottom: 16px;
  height: 2px;
  width: 26px;
  right: 4px;
  bottom: -8px;
}

.chevron:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 51%;
  transform: skew(0deg, 23deg);
}

.chevron:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  transform: skew(0deg, -23deg);
}

.chevron1to2:before {
  background-color: #c6b08b;
}

.chevron1to2:after {
  background-color: #5fa3c6;
}

.chevron2to3 {
}

.chevron2to3:before {
  background-color: #94d1eb;
}

.chevron2to3:after {
  background-color: #de6342;
}

#addtl-analysis-div {
    background-color: #dbd3c8;
	color: white;
    margin-top: 15px;
}

#addtl-analysis-div .div-header {
	color: white;
}

#addtl-analysis-div .divbanner {
    background-color: #8c8780;
}

#case-control-cohorts + label {
    font-family: roboto-medium;
    font-size: 13px;
    color: white;
    background-color: #6e593a;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    cursor: pointer;
}
#case-control-filename {
    color: black;
}
.help-img {
    margin-left: 1ch;
    height: 1.5em;
    vertical-align: text-bottom;
}

.strikenout {
  text-decoration: line-through;
}

.no-group-member-msg-div {
    position: relative;
    top: 50px;
}

#spinner-div {
    position: fixed;
    top: 63px;
    left: 0;
    width: 100%;
    height: calc(100% - 63px);
    z-index: 9;
    text-align: center;
    background-color: rgba(100, 100, 100, 0.77);
}

/*
#spinner-div img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
*/

#spinner-div-progress-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 300px;
    height: 30px;
}

#spinner-div-progress-bar {
    background-color: white;
    box-shadow: 2px 2px 2px 0px black;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0%;
    height: 100%;
}

#spinner-div-progress-num {
    position: absolute;
    top: calc(50% + 40px);
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100px;
    height: 30px;
    color: white;
}

#spinner-div-progress-title {
    position: absolute;
    top: calc(50% - 40px);
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 200px;
    height: 30px;
    color: white;
}

#submit-job-button:disabled {
    background-color: gray;
}

#update-remote-spinner-div {
    position: fixed;
    top: 63px;
    left: 0;
    width: 100%;
    height: calc(100% - 63px);
    z-index: 9;
    text-align: center;
    background-color: rgba(100, 100, 100, 0.77);
}

#update-remote-spinner-div-text {
    position: absolute;
    top: calc(50% - 40px);
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 200px;
    height: 30px;
    color: white;
}

#assembly-select-div {
    width: 100%;
}

#assembly-select {
    width: 100%;
}

.fileaddbutn {
    font-size: 10px;
}

.btn_overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.4;
    width: 100%;
    height: 100%;
}

#report_generation_div {
    position: fixed;
    top: -1000px;
    right: 1000px;
    background-color: #96b6c6;
    z-index: 1;
    text-align: right;
    border: 1px solid gray;
    padding: 10px;
    box-shadow: 3px 3px 3px gray;
    font-size: 12px;
    display: none;
}

#report_generation_div.show {
    display: block;
}

.submit-annot-tag {
    background-color: #6295b1;
    border-radius: 6px;
    color: white;
    margin-bottom: 3px;
    margin-right: 3px;
    padding: 3px;
    width: 47%;
    white-space: nowrap;
    font-weight: bold;
}
.submit-annot-tag:hover {
    cursor: pointer;
}

.submit-annot-tag.selected {
    background-color:#3175b0;   
}

#jobdivspinnerdiv {
    position: absolute;
    width: 60px;
    height: 60px;
    left: calc(50% - 30px);
    top: calc(50% - 30px);
}

#jobdivspinnerdiv.hide {
    display: none;
}

#annotdivspinnerdiv {
    position: absolute;
    width: 60px;
    height: 60px;
    left: calc(50% - 30px);
    top: 140px;
}

#annotdivspinnerdiv.hide {
    display: none;
}

.divbanner-split {
    /* min-width: 50%; */
    flex-grow: 1;
    /* border-radius: 4px 4px 0px 0px; */
}

/* #divbanner-annot {
    background-color: green;
}

#divbanner-pkg {
    background-color: red;
} */

.modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 250;
    width: 100vw;
    height: 100vh;
    background: rgba(.5, .5, .5, .5);
    align-items: center;
    justify-content: center;
}

.modal {
    display: flex;
    flex-direction: column;
    background: white;
    width: auto;
    height: fit-content;
    min-width: 25vw;
    max-width: 35vw;
    max-height: 100vh;
}

@media screen and (max-width: 992px) {
    .modal {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }
}

.modal-body {
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
}

.modal-body * {
    margin-bottom: 1em;
}

.modal-title {
    padding: 5px;
    background: #3175b0;
    border-radius: 3px 3px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-text {
    line-height: .6em;
    font-size: larger;
    margin-bottom: .6em;
}

.modal-text > ul {
    margin-left: -.5em;
}

.modal-input {
    font-size: 18px;
    margin-left: 3px;
    margin-right: 3px;
}

.modal-butn {
    font-size: 18px;
    height: 2.5em;
    background: #3175b0;
}

.modal-checkbox-label {
    font-size: 14px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.modal-checkmark {
    top: 5px;
    left: 4px;
    outline: 1px solid gray;
}

.modal-checkbox-text {
    padding-left: .5em;
}
.modal-error {
    color: darkred;
}

#user-email-error {
    display: none;
}
